.mainSection {
  max-width: 1440px;
  width: 100%;
  height: 4174px;
  margin: 0 auto;
}
.mainphoto {
  background-image: url("./imgFolder/photo-1569201529241-f96205e2f2c6.png");
  width: 1440px;
  height: 800px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.sunnysideLogo {
  margin-top: 3%;
  margin-left: 3%;
}

.navigationDiv {
  margin-top: 3%;
  margin-right: 3%;
}
.navigationDiv nav ul {
  display: flex;
  font-size: 18px;
  font-family: Barlow;
  color: #ffffff;
  font-weight: 600;
  line-height: 25px;
  gap: 3rem;
  cursor: pointer;
}
.contact:hover {
  border: 8px solid white;
  border-radius: 28px;
  background-color: #ffffff;
  color: black;
}
.creatives {
  font-size: 56px;
  font-weight: 900;
  font-family: Fraunces;
  line-height: 69.05px;
  letter-spacing: 9px;
  text-align: center;
  color: #ffffff;
  margin-top: 6rem;
}
.pathImg {
  margin-top: 110px;
  margin-left: 719.5px;
}
.secondSection {
  display: flex;
  justify-content: space-between;
}
.secondSection h2 {
  width: 445px;
  height: 98px;
  font-family: Fraunces;
  font-size: 50px;
  font-weight: 900;
  color: #24303e;
  line-height: 49.32px;
  letter-spacing: -0.29px;
  margin-top: 160px;
  margin-left: 165px;
}
.textDiv {
  box-shadow: -10px 0px 10px 1px #aaaaaa;
}
.weAre {
  width: 445px;
  font-size: 18px;
  font-weight: 600;
  color: #808397;
  letter-spacing: -0.13px;
  line-height: 30px;
  margin-left: 165px;
  margin-top: 30px;
}
.learnMore {
  font-size: 15px;
  color: #24303e;
  font-weight: 900;
  margin-top: 50px;
  margin-left: 170px;
}
.thirdSection {
  display: flex;
  justify-content: space-between;
}
.thirdSection h2 {
  height: 98px;
  font-family: Fraunces;
  font-size: 50px;
  font-weight: 900;
  color: #24303e;
  line-height: 49.32px;
  letter-spacing: -0.29px;
  margin-top: 160px;
  margin-left: 100px;
}
.using {
  width: 460px;
  font-size: 18px;
  font-weight: 600;
  color: #808397;
  letter-spacing: -0.13px;
  line-height: 30px;
  margin-left: 100px;
  margin-top: 30px;
}
.learnMore2 {
  font-size: 15px;
  color: #24303e;
  font-weight: 900;
  margin-top: 50px;
  margin-left: 110px;
}
.textDiv2 {
  box-shadow: 10px 0 5px -2px #888;
}
.fourthSection div {
  display: flex;
}
