.mainSection {
  max-width: 1440px;
  width: 100%;
  height: 4174px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mainphoto {
  background-image: url("./imgFolder/photo-1569201529241-f96205e2f2c6.png");
  width: 1440px;
  height: 800px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.sunnysideLogo {
  margin-top: 3%;
  margin-left: 3%;
}

.navigationDiv {
  margin-top: 3%;
  margin-right: 3%;
}
.navigationDiv nav ul {
  display: flex;
  font-size: 18px;
  font-family: Barlow;
  color: #ffffff;
  font-weight: 600;
  line-height: 25px;
  gap: 3rem;
  cursor: pointer;
}
.contact:hover {
  border: 8px solid white;
  border-radius: 28px;
  background-color: #ffffff;
  color: black;
}
.creatives {
  font-size: 56px;
  font-weight: 900;
  font-family: Fraunces;
  line-height: 69.05px;
  letter-spacing: 9px;
  text-align: center;
  color: #ffffff;
  margin-top: 6rem;
}
.pathImg {
  margin-top: 110px;
  margin-left: 719.5px;
}
.secondSection {
  display: flex;
  justify-content: space-between;
}
.secondSection h2 {
  width: 445px;
  height: 98px;
  font-family: Fraunces;
  font-size: 50px;
  font-weight: 900;
  color: #24303e;
  line-height: 49.32px;
  letter-spacing: -0.29px;
  margin-top: 160px;
  margin-left: 165px;
}

.weAre {
  width: 445px;
  font-size: 18px;
  font-weight: 600;
  color: #808397;
  letter-spacing: -0.13px;
  line-height: 30px;
  margin-left: 165px;
  margin-top: 30px;
}
.learnMore {
  font-family: Fraunces;
  font-size: 15px;
  color: #24303e;
  font-weight: 900;
  margin-top: 50px;
  margin-left: 170px;
  cursor: pointer;
}
.learnMore:hover {
  width: 6.9rem;
  border-bottom: 5px solid #eadf05;
}
.thirdSection {
  display: flex;
  justify-content: space-between;
}
.thirdSection h2 {
  height: 98px;
  font-family: Fraunces;
  font-size: 50px;
  font-weight: 900;
  color: #24303e;
  line-height: 49.32px;
  letter-spacing: -0.29px;
  margin-top: 160px;
  margin-left: 100px;
}
.using {
  width: 460px;
  font-size: 18px;
  font-weight: 600;
  color: #808397;
  letter-spacing: -0.13px;
  line-height: 30px;
  margin-left: 100px;
  margin-top: 30px;
}
.learnMore2 {
  font-family: Fraunces;
  font-size: 15px;
  color: #24303e;
  font-weight: 900;
  margin-top: 50px;
  margin-left: 110px;
  cursor: pointer;
}
.learnMore2:hover {
  width: 6.9rem;
  border-bottom: 5px solid #eadf05;
}

.fourthSection div {
  display: flex;
}
.sixthSection h1 {
  font-family: Fraunces;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 5px;
  text-align: center;
  color: #a7aaad;
  margin-top: 8rem;
}
.clientTestimonials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8rem;
}
.firstSmallDiv {
  width: 350px;
}
.secondSmallDiv {
  width: 350px;
}
.thirdSmallDiv {
  width: 350px;
}
.firstSmallDiv img {
  margin-left: 9rem;
}
.secondSmallDiv img {
  margin-left: 9rem;
}
.thirdSmallDiv img {
  margin-left: 9rem;
}
.wePut {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
  color: #5b636d;
  margin-top: 3rem;
}
.emily {
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
  color: #24303e;
  margin-top: 3rem;
}
.marketing {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #a7aaad;
}
.sunnyside {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
  color: #5b636d;
  margin-top: 3rem;
}
.thomas {
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
  color: #24303e;
  margin-top: 3rem;
}
.chief {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #a7aaad;
}
.incredible {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
  color: #5b636d;
  margin-top: 3rem;
}
.jennie {
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.12857143580913544px;
  text-align: center;
  color: #24303e;
  margin-top: 3rem;
}
.business {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #a7aaad;
}
.imgParentDiv {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}
.photo {
  overflow: hidden;
  width: 18%;
  height: 80%;
}
.footer {
  height: 350px;
  background-color: #90d4c6;
}
.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoBox img {
  margin-top: 4rem;
}
.footer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer nav ul li {
  padding: 2.5rem;
  color: #458d7e;
  font-size: 18px;
  cursor: pointer;
}
footer nav ul li:hover {
  color: #ffffff;
}
.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconDiv img {
  padding: 1rem;
  cursor: pointer;
}
.icon:hover {
  background-color: #ffffff;
  border-radius: 43%;
}
